<div class="page-fold">
	<div class="row">
		<div class="centered">
			<section>
				
<h1>Administration</h1>
<% if @departments.count > 0 %>
	<h3>Current Departments</h3>
	</section>
	<section class="sw-table">
	<table border="1">
	<tr>
	<th>Department Name</th>
	<th>Department Key</th>
	<th>Date Created</th>
	</tr>
	<% @departments.each do |d| %>
		<tr>
		<td><%= d.name %></td>		
		<td><%= d.valid_key %></td>
		<td><%= l d.created_at, :format => :short %></td>		
		</tr>
		
    <% end %>
	</table>
<% end %>
<%= link_to "Add Department", controller: "departments", action: "new" %>
</section>

<% if @advisors.count > 0 %>
	<h3>Current Advisors</h3>
	<section class="sw-table">
	<table border="1">
	<tr>
	<th>Advisor Email</th>
	<th>Department Name</th>
	<th>Date Created</th>
	</tr>
	<% @advisors.each do |a| %>
	<% department = Department.find(a.department_id) %>
	<% user = User.find(a.user_id) %>
		<tr>
		<td><%= user.email %></td>		
		<td><%= department.name %></td>
		<td><%= l a.created_at, :format => :short %></td>
		<td style="width:30px;background-color: none;"><%= button_to "X",{ controller: "advisors", action: "destroy", id: a.id}, method: :delete, data: { confirm: "Are you sure you want to remove this advisor?" } %></td>
		</tr>
    <% end %>
	</table>
<% end %>
<%= link_to "Assign Advisor", controller: "advisors", action: "new" %>
			</section>
		</div>
	</div>
</div>
	