<div class="page-fold">
	<div class="row">
		<div class="centered">
			<section>
				<h1><%= @department.name %></h1>
			</section>
			<section class="sw-table">
				<div>
				  Download:
				  <%= link_to "Excel", accounts_path(format: "xls") %>
				</div>
				<table border="1">
				<tr>
				<th>Event Title</th>
				<th>Total Attendees</th>
				<th>Unique Attendees</th>
				<th>Event Date</th>
				</tr>
				<% @events.each do |e| %>
					<tr>
					<td><%= link_to e.name, controller: "events", action: "show", id: e.id %></td>
					<% event_scans = @scans.select{ |s| s.event_id == e.id } %>
	
					<td><%= event_scans.size %></td>
					<td><%= event_scans.uniq{ |es| es.value }.size %></td>
					<td><%= l e.starts_at, :format => :short %></td>
					</tr>
			   	 <% end %>
				</table>
			</section>
		</div>
	</div>
</div>