<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Department:</b>
  <%= @event.department_id %>
</p>

<table border="1">
<tr>
<th>Scan Value</th>
<th>Date Scanned</th>
</tr>
<% @scans.reverse.each do |s| %>
	<tr>	
	<td><%= s.value %></td>
	<td><%= l s.scanned_at, :format => :long %></td>
	</tr>
<% end %>
</table>
	